
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME PAGE</title>
</head>
<body>
    <h1>WELCOME TO HOME PAGE</h1>
    <% if(isAu===false){ %>
    <a href="/login"><button>login</button></a>
    <a href="/signup"><button>signup</button></a>
    <% }else{ %>
    <a href="/logout"><button>logout</button></a>
    <% } %>
</body>
</html>